# Introduction to Python  

## [Functional Programming](https://docs.python.org/3/howto/functional.html) with Python:

+ _lambda_ Functions  
+ _zip_  
+ _map_  
+ _filter_  
+ _reduce_

### lambda Functions

When writing functional-style programs, you’ll often need little functions that act as predicates or that combine elements in some way. If there’s a Python built-in or a module function that’s suitable, you don’t need to define a new function at all, as in these examples:

    stripped_lines = [line.strip() for line in lines]
    existing_files = filter(os.path.exists, file_list)

If the function you need doesn’t exist, you need to write it.  
One way to write small functions is to use the _lambda_ expression. lambda takes a number of parameters and an expression combining these parameters, and creates an anonymous function that returns the value of the expression:

The pattern is:  
     lambda < variables > : operation(< variables >)

Examples

In [1]:
def adder(x, y):
    return x + y

In [7]:
%%timeit

adder(3,4)

78.6 ns ± 1.42 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [4]:
adder_lambda = lambda x, y: x+y

In [8]:
%%timeit

adder_lambda(3,4)

82.7 ns ± 0.878 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [9]:
general_adder = lambda *x : sum(x)

In [10]:
general_adder(2,3,4,5)

14

In [11]:
square = lambda x: x**2

In [12]:
square(2)

4

In [13]:
def print_assign(name, value):
    return name + '=' + str(value)

In [14]:
print_assign = lambda name, value: name + '=' + str(value)

In [15]:
print_assign('year',2020)

'year=2020'

In [16]:
even = lambda x:True if x%2==0 else False

In [17]:
print(even(17))
print(even(16))

False
True

Dictionary of functions

In [18]:
potencia = {'square': lambda x:x**2, 
            'cube': lambda x:x**3,
            'fourth': lambda x:x**4
           }

In [20]:
potencia

{'square': <function __main__.<lambda>(x)>,
 'cube': <function __main__.<lambda>(x)>,
 'fourth': <function __main__.<lambda>(x)>}

In [21]:
type(potencia["cube"])

function

In [22]:
print(potencia['cube'](9))

print(potencia['square'](3))

print(potencia['fourth'](7))

729
9
2401

In [26]:
funcs = [lambda x:x**2, lambda x:x-1]
print(funcs)
[func(x) for func in funcs for x in [1,2,3]]

[<function <lambda> at 0x7f46dc625560>, <function <lambda> at 0x7f46dc6258c0>]

[1, 4, 9, 0, 1, 2]

## Functional Tools: _zip_, _filter_, _map_ , _reduce_

## _zip_

_zip_ function returns a _zip_ object (which is an iterator) that will aggregate elements from two or more iterables. You can use the resulting iterator to solve common tasks, like creating dictionaries.

In [14]:
sq1 = [1,2,3,4,5,6,7,8]
sq2 = ['a','b','c','d','e','f']
z = zip(sq1,sq2)
print(z)

<zip object at 0x7f0cb412f908>

In [15]:
next(z)
#z.__next__()

(1, 'a')

In [16]:
list(z)

[(2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'), (6, 'f')]

In [17]:
names = ['Leticia', 'Ana', 'Raquel']
grades = [8,9,10]
dic_grades = dict(zip(names,grades))
dic_grades

{'Leticia': 8, 'Ana': 9, 'Raquel': 10}

In [18]:
students = ['Diogo','Rafael','Gustavo','Deborah', 'Extra Student']
grades = [0,1,2,3]
new_dict_grades = dict(zip(students,grades))
print(new_dict_grades)

{'Diogo': 0, 'Rafael': 1, 'Gustavo': 2, 'Deborah': 3}

In [19]:
list1 = list(range(11))
list2 = list(range(1,30,2))
list3 = list(range(1,100,5))
print(list1)
print(list2)
print(list3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]
[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

In [20]:
zipped = list(zip(list1, list2, list3))
zipped

[(0, 1, 1),
 (1, 3, 6),
 (2, 5, 11),
 (3, 7, 16),
 (4, 9, 21),
 (5, 11, 26),
 (6, 13, 31),
 (7, 15, 36),
 (8, 17, 41),
 (9, 19, 46),
 (10, 21, 51)]

How to reverse a zip command?

In [21]:
unzipped = (zip(*zipped))
list(unzipped)

[(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10),
 (1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21),
 (1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51)]

Using Zip with comprehensions

In [22]:
sq1 = [1,2,3,4,5,6,7,8]
sq2 = ['a','b','c','d','e','f']
d3 = {x.upper():y for y,x in zip(sq1,sq2)}
d3

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6}

In [23]:
s1 = [x.lower() for x in d3.keys()]
s2 = [x for x in d3.values()]
print(s1)
print(s2)

['a', 'b', 'c', 'd', 'e', 'f']
[1, 2, 3, 4, 5, 6]

In [24]:
sq1 = [1,2,3,4,5,6,7,8]
sq2 = ['a','b','c','d','e','f']
z = zip(sq1,sq2)
print(list(z))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'), (6, 'f')]

In [25]:
sq1 = [1,2,3,4,5,6,7,8]
sq2 = ['a','b','c','d','e','f']
sq3 = ['w','e','r','y']
z4 = zip(sq1,sq2,sq3)
print(list(z4))

[(1, 'a', 'w'), (2, 'b', 'e'), (3, 'c', 'r'), (4, 'd', 'y')]

In [26]:
seq1 = [1,2,3,4,5,6,7,8]
seq2 = (9,8,7,6,5,4,3,2,1)
seq3 = 'A nice string'

print(list(zip(seq1,seq2,seq3)))

[(1, 9, 'A'), (2, 8, ' '), (3, 7, 'n'), (4, 6, 'i'), (5, 5, 'c'), (6, 4, 'e'), (7, 3, ' '), (8, 2, 's')]

## _map_

_map_ function returns a map object (which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)  
Maps can be easily substituted by [list comprehensions](https://stackoverflow.com/questions/1247486/list-comprehension-vs-map)

In [27]:
def my_function(x):
    return x**10

In [28]:
print(my_function(4))
print(my_function(10))

1048576
10000000000

In [29]:
seq6 = [3,7,9,1,5,7]

In [30]:
%%time

results = map(my_function, seq6)
print(list(results))

[59049, 282475249, 3486784401, 1, 9765625, 282475249]
CPU times: user 36 µs, sys: 2 µs, total: 38 µs
Wall time: 41.2 µs

In [31]:
%%time

[my_function(x) for x in seq6]

CPU times: user 5 µs, sys: 1e+03 ns, total: 6 µs
Wall time: 6.91 µs

[59049, 282475249, 3486784401, 1, 9765625, 282475249]

In [32]:
%%time

results = map(lambda x:x**10, seq6)
print(list(results))

[59049, 282475249, 3486784401, 1, 9765625, 282475249]
CPU times: user 195 µs, sys: 10 µs, total: 205 µs
Wall time: 129 µs

## _reduce_

The reduce() function in Python takes in a function and a list as argument. The function is called with a lambda function and a list and a new reduced result is returned. This performs a repetitive operation over the pairs of the list. This is a part of functools module.

In [33]:
from functools import reduce

In [34]:
seq9 = [1,2,3,4,5,6,7,8,9,10]
multiply = reduce(lambda x,y:x*y, seq9)
multiply

3628800

In [35]:
seq10 = ['a','b','c','d','e','f','g']
concatenate = reduce(lambda x,y:x+y, seq10)
concatenate

'abcdefg'

In [36]:
list1 = list(range(11))
list2 = list(range(1,30,2))
list3 = list(range(1,100,5))

In [37]:
soma = reduce(lambda x,y:x+y**2,list1)
soma

385

In [38]:
soma2 = reduce(lambda x,y:x+y**2,list2)
soma2

4495

In [39]:
soma3 = reduce(lambda x,y:x+y**2,list3)
soma3

63670

In [40]:
import random
seq = [random.random() for x in range(10)]
print(seq)

[0.7926247990915549, 0.5672258924954041, 0.7638721091844789, 0.4346456949672939, 0.7341292887256545, 0.6304398376494917, 0.16895128993130504, 0.7794534190933522, 0.5936562302403326, 0.030894864536518685]

In [41]:
max(seq)

0.7926247990915549

In [42]:
compara = lambda x,y: x if x>=y else y
reduce(compara,seq)

0.7926247990915549

### Comando Filter:

The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not. This function must return a boolean value.

In [43]:
my_string = 'aAbRmmmTTTBfgHHrTEB'

In [44]:
resp = filter(lambda x:x.islower(), my_string)
list(resp)

['a', 'b', 'm', 'm', 'm', 'f', 'g', 'r']

In [45]:
resp = filter(lambda x: not x.islower(), my_string)
list(resp)

['A', 'R', 'T', 'T', 'T', 'B', 'H', 'H', 'T', 'E', 'B']

In [46]:
resp = filter(lambda x:x.isupper(), my_string)
list(resp)

['A', 'R', 'T', 'T', 'T', 'B', 'H', 'H', 'T', 'E', 'B']

In [48]:
list1 = list(range(11))
bigger_than_four = filter(lambda x:x>4,list1)
list(bigger_than_four)

[5, 6, 7, 8, 9, 10]

In [49]:
simplified_genesis = '''
In the beginning God created the heaven and the earth. 
And the earth was without form, and void; and darkness 
was upon the face of the deep. And the Spirit of God 
moved upon the face of the waters. And God said, 
Let there be light: and there was light.'''
simplified_genesis.split()[0:10]

['In',
 'the',
 'beginning',
 'God',
 'created',
 'the',
 'heaven',
 'and',
 'the',
 'earth.']

In [50]:
istitle = lambda x : x.istitle()

In [51]:
print(list(filter(str.istitle,simplified_genesis.split())))
#print(list(filter(lambda x: x.istitle(),simplified_genesis.split())))
#print(list(filter(e_titulo,simplified_genesis.split())))

['In', 'God', 'And', 'And', 'Spirit', 'God', 'And', 'God', 'Let']

## Implementing the builtin generators as ordinary functions:

### _zip_:

In [52]:
def my_zip(*sequences):
    smaller = min([len(element) for element in sequences])
    for i in range(smaller):
        yield(tuple([item[i] for item in sequences]))

In [53]:
zipped = my_zip([1,2,3,5],[5,6,7],[3,2,5])

In [54]:
print(list(zipped))

[(1, 5, 3), (2, 6, 2), (3, 7, 5)]

### _map_:

In [55]:
def my_map(func, sequence):
    for i in range(len(sequence)):
        yield(func(sequence[i]))

In [56]:
mapped = my_map(lambda x:x**2, [1,2,3,4,5])

In [57]:
type(mapped)

generator

In [58]:
print(list(mapped))

[1, 4, 9, 16, 25]

### _filter_:

In [59]:
def my_filter(func_bool, sequence):
    sequence = [item for item in sequence if func_bool(item)]
    for element in sequence:
        yield(element)

In [60]:
filtered = my_filter(lambda x:x%2==0, [1,2,3,4,5,6])

In [61]:
type(filtered)

generator

In [62]:
print(list(filtered))

[2, 4, 6]

### _range_:

In [63]:
def my_range(*args):
    step = 1
    start = 0
    if len(args) == 1:
        end = args[0]
    elif len(args) == 2:
        start = args[0]
        end = args[1]
    elif len(args) == 3:
        start = args[0]
        end = args[1]
        step = args[2]
    else:
        print('Too many arguments')
        return
    while start < end:
        yield start
        start += step

In [64]:
print(list(my_range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
print(list(my_range(2,10,2)))

[2, 4, 6, 8]

### _reduce_:

In [66]:
def my_reduce(function, sequence):
    result = sequence[0]
    for i in range(len(sequence)-1):
        result = function(result,sequence[i+1])
    return result

In [67]:
my_reduce(lambda x,y:x+y, [1,2,3,4,5,6,7])

28