# Introduction to Python

### [Numpy](https://numpy.org/)

In [1]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Numpy Basic Data Types

#### Type Array

In [2]:
my_numbers = [1,2,3,4]
simple_array = np.array(my_numbers)
simple_array

array([1, 2, 3, 4])

In [3]:
print(simple_array.shape)
print(simple_array.size)
print(simple_array.ndim)

(4,)
4
1

In [4]:
my_other_numbers = [[1,2,3],[4,5,6],[8,9]]
#my_other_numbers = [[1,2,3],[4,5,6],[8,9,0]]
other_simple_array = np.array(my_other_numbers)
other_simple_array

array([list([1, 2, 3]), list([4, 5, 6]), list([8, 9])], dtype=object)

In [5]:
other_simple_array.shape

(3,)

#### Operations between arrays (scalar and vectorial)

In [6]:
A = np.array([[1,2,3],[4,5,6],[8,9,0]])
B = np.array([[2,1,5],[9,2,1],[8,7,6]])

In [7]:
A

array([[1, 2, 3],
       [4, 5, 6],
       [8, 9, 0]])

In [8]:
B

array([[2, 1, 5],
       [9, 2, 1],
       [8, 7, 6]])

In [9]:
A + 2

array([[ 3,  4,  5],
       [ 6,  7,  8],
       [10, 11,  2]])

In [10]:
A * 3

array([[ 3,  6,  9],
       [12, 15, 18],
       [24, 27,  0]])

In [11]:
A / 4

array([[0.25, 0.5 , 0.75],
       [1.  , 1.25, 1.5 ],
       [2.  , 2.25, 0.  ]])

In [12]:
A + B

array([[ 3,  3,  8],
       [13,  7,  7],
       [16, 16,  6]])

In [13]:
A * B

array([[ 2,  2, 15],
       [36, 10,  6],
       [64, 63,  0]])

In [14]:
A.dot(B)

array([[ 44,  26,  25],
       [101,  56,  61],
       [ 97,  26,  49]])

In [15]:
A.T

array([[1, 4, 8],
       [2, 5, 9],
       [3, 6, 0]])

#### Creating arrays

In [16]:
a = np.arange(20)  # ==> np.arange(0,20,1)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [17]:
a = np.arange(1,5,0.2)
a

array([1. , 1.2, 1.4, 1.6, 1.8, 2. , 2.2, 2.4, 2.6, 2.8, 3. , 3.2, 3.4,
       3.6, 3.8, 4. , 4.2, 4.4, 4.6, 4.8])

In [18]:
b = np.linspace(1,10,30)
#b = np.linspace(1,2*np.pi,50)
b

array([ 1.        ,  1.31034483,  1.62068966,  1.93103448,  2.24137931,
        2.55172414,  2.86206897,  3.17241379,  3.48275862,  3.79310345,
        4.10344828,  4.4137931 ,  4.72413793,  5.03448276,  5.34482759,
        5.65517241,  5.96551724,  6.27586207,  6.5862069 ,  6.89655172,
        7.20689655,  7.51724138,  7.82758621,  8.13793103,  8.44827586,
        8.75862069,  9.06896552,  9.37931034,  9.68965517, 10.        ])

In [19]:
b2 = np.logspace(1,100,30)
b2

array([1.00000000e+001, 2.59294380e+004, 6.72335754e+007, 1.74332882e+011,
       4.52035366e+014, 1.17210230e+018, 3.03919538e+021, 7.88046282e+024,
       2.04335972e+028, 5.29831691e+031, 1.37382380e+035, 3.56224789e+038,
       9.23670857e+041, 2.39502662e+045, 6.21016942e+048, 1.61026203e+052,
       4.17531894e+055, 1.08263673e+059, 2.80721620e+062, 7.27895384e+065,
       1.88739182e+069, 4.89390092e+072, 1.26896100e+076, 3.29034456e+079,
       8.53167852e+082, 2.21221629e+086, 5.73615251e+089, 1.48735211e+093,
       3.85662042e+096, 1.00000000e+100])

In [20]:
a1 = np.zeros((3,4))
print(a1)
a2 = np.ones((2,2))
print(a2)
a3 = np.empty((2,3))
print(a3)
a4 = np.identity(3)
print(a4)
np.eye(3)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]
[[1. 1.]
 [1. 1.]]
[[1.96733225e-316 0.00000000e+000 0.00000000e+000]
 [0.00000000e+000 0.00000000e+000 0.00000000e+000]]
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

#### Modifying Dimensions

In [21]:
c = np.arange(100)
c

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [22]:
d = c.reshape(4,25)
#d = np.arange(100).reshape(4,25)
d

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
        16, 17, 18, 19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40,
        41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65,
        66, 67, 68, 69, 70, 71, 72, 73, 74],
       [75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90,
        91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [23]:
print(c.shape)
print(d.shape)
print(np.ndim(d))
print(d.dtype.name)

(100,)
(4, 25)
2
int64

In [24]:
d2 = np.arange(100).reshape(2,10,5)
d2

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49]],

       [[50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59],
        [60, 61, 62, 63, 64],
        [65, 66, 67, 68, 69],
        [70, 71, 72, 73, 74],
        [75, 76, 77, 78, 79],
        [80, 81, 82, 83, 84],
        [85, 86, 87, 88, 89],
        [90, 91, 92, 93, 94],
        [95, 96, 97, 98, 99]]])

In [25]:
d2.ndim

3

In [26]:
d2.shape

(2, 10, 5)

#### Slicing multidimensional arrays

In [27]:
d2[:,2:5,:]

array([[[10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24]],

       [[60, 61, 62, 63, 64],
        [65, 66, 67, 68, 69],
        [70, 71, 72, 73, 74]]])

In [28]:
d2[d2%2==0]

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32,
       34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66,
       68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98])

In [29]:
#np.mask_indices?

In [30]:
d2[~d2%2==0]  #negation of condition

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33,
       35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67,
       69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99])

#### Stacking Arrays

In [31]:
a = np.arange(16).reshape(4,4)
np.vstack([a,np.arange(4).reshape(1,4)])

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [ 0,  1,  2,  3]])

In [32]:
np.hstack([a,np.arange(4).reshape(4,1)])

array([[ 0,  1,  2,  3,  0],
       [ 4,  5,  6,  7,  1],
       [ 8,  9, 10, 11,  2],
       [12, 13, 14, 15,  3]])

In [33]:
#np.stack?

### Type Matrix

In [34]:
a = np.array([[1,2.],[4,3]])
b = np.array([[1,9],[7,5]])

In [35]:
a

array([[1., 2.],
       [4., 3.]])

In [36]:
b

array([[1, 9],
       [7, 5]])

In [37]:
a * b

array([[ 1., 18.],
       [28., 15.]])

In [38]:
A = np.matrix(a)
B = np.matrix(b)

In [39]:
A

matrix([[1., 2.],
        [4., 3.]])

In [40]:
B

matrix([[1, 9],
        [7, 5]])

In [41]:
A * B

matrix([[15., 19.],
        [25., 51.]])

In [42]:
print(type(a))
print(type(A))
print(type(a * b))
print(type(A * B))
print(type(a * B))

<class 'numpy.ndarray'>
<class 'numpy.matrix'>
<class 'numpy.ndarray'>
<class 'numpy.matrix'>
<class 'numpy.matrix'>