# Introduction to Python  

## [Python Data Types](https://realpython.com/python-data-types/)

### What are types?

Everything in Python is an "Object". And each type of Object has its own properties.  
These properties are called "methods" (a kind of "inner functions")  and "attributes"

We can find the type of an object typing the command:  
+ _type(object)_

#### Through this notebook we will use many ["_bultin_" functions](https://docs.python.org/3/library/functions.html):   
+ _type_
+ _dir_
+ _print_
+ _len_
+ _ord_
+ _hex_
+ _bin_
+ _oct_

### Numeric Types:
In Python 3.x, the numeric types are divided in three classes: integer (int), floating point (float) and complex (complex).

In [1]:
a = 12

Let's use one of the ["_bultin_" functions](https://docs.python.org/3/library/functions.html) to guess a variable type:

In [2]:
type(a)

int

In [3]:
b = 2.7

In [4]:
type(b)

float

Let's check the methods using instrospection:

In [5]:
dir(b)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__set_format__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

In [6]:
b.is_integer()  #method that returns True or False, depending if the float being integer (in the mathematical sense)

False

In [7]:
c = 3 + 1j

In [8]:
type(c)

complex

In [9]:
c.conjugate()

(3-1j)

#### Changing basis

In [10]:
x = 0x32 # Hex
print(x)

50

In [175]:
hex(50)

'0x32'

In [11]:
y = 0b111110001 #Binary
print(y)

497

In [177]:
bin(497)

'0b111110001'

In [12]:
z = 0o777321  #Octal
print(z)

261841

In [179]:
oct(261841)

'0o777321'

#### Operações com tipos numéricos:

In [14]:
print(9 + 8) # Sum.
print(12 - 34) # Subtraction.
print(12 * 3) # Multiplication.
print(34 / 23) # Division.
print(3 ** 5) # Exponentiation.
print(9 ** 0.5) # Root.
print(501 % 10) # Division floor

17
-22
36
1.4782608695652173
243
3.0
1

In [15]:
a = 23.
print(type(a))

<class 'float'>

In [16]:
b = 2 + 3j
print(type(b))

<class 'complex'>

In [17]:
c = a + b
print(type(c))

<class 'complex'>

#### Operations with greater than (>), smaller than (<), equal or greater (>=), lesser or equal (<=), equal (==) and inequal (!=)

In [18]:
c = 2.5
d = 4

print(c > d)

False

In [19]:
c = 2.5
d = 4

print(c <= d)

True

In [172]:
c = 1 + 3j
d = 2 + 4j

print(c > d)  # not supported

TypeError: '>' not supported between instances of 'complex' and 'complex'

In [21]:
print(c == d)

False

In [22]:
print(d != c)

True

### Type "list"  [x,y,z]
Lists are ordered sequences of itens, not necessarily of the same type.  
Lists are created with square brackets, and each item is separated by commas.  
Lists are widely used, and are considered to be a mutable type, i.e. you can change their elements.

In [23]:
my_list = [1,2,2, [2,3,4], 3.9, 4, 2.8,'a string']

In [24]:
dir(my_list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [25]:
print(my_list)

[1, 2, 2, [2, 3, 4], 3.9, 4, 2.8, 'a string']

#### Acessing list elements (the first elements has index 0)

In [26]:
print(my_list[3])

[2, 3, 4]

In [27]:
print(my_list[0:3])

[1, 2, 2]

In [28]:
print(my_list[-1])

a string

#### Slicing

In [29]:
print(my_list[5:])

[4, 2.8, 'a string']

In [30]:
print(my_list[3][2])

4

In [31]:
print(my_list[-1][-3:])

ing

#### Adding new elements

In [32]:
my_new_list = [2,6,3,8]

In [33]:
my_new_list.append(23)

In [34]:
print(my_new_list)

[2, 6, 3, 8, 23]

#### Removing elements from a list

In [35]:
my_new_list.pop()

23

In [36]:
print(my_new_list)

[2, 6, 3, 8]

In [37]:
my_new_list.pop()

8

In [38]:
print(my_new_list)

[2, 6, 3]

#### Inserting elements (append, extend, insert)

In [39]:
print(my_new_list)

[2, 6, 3]

In [40]:
my_new_list.append(4)

In [41]:
print(my_new_list)

[2, 6, 3, 4]

In [42]:
my_new_list.extend([0,7,3])

In [43]:
print(my_new_list)

[2, 6, 3, 4, 0, 7, 3]

In [44]:
my_new_list.append([9,9])

In [45]:
my_new_list.insert(2,5678)

In [46]:
print(my_new_list)

[2, 6, 5678, 3, 4, 0, 7, 3, [9, 9]]

In [47]:
my_new_list.pop()

[9, 9]

In [48]:
my_new_list.sort() #sorting elements permanently
print(my_new_list)

[0, 2, 3, 3, 4, 6, 7, 5678]

In [49]:
list_from_string = list('my favorite string')
list_from_string.sort()
print(list_from_string)

[' ', ' ', 'a', 'e', 'f', 'g', 'i', 'i', 'm', 'n', 'o', 'r', 'r', 's', 't', 't', 'v', 'y']

In [50]:
list_from_string.count('i')

2

In [51]:
list_from_string.index('g')

5

In [52]:
len(list_from_string) #len() returns the size of an object

18

In [53]:
list_from_string.reverse()
print(list_from_string)

['y', 'v', 't', 't', 's', 'r', 'r', 'o', 'n', 'm', 'i', 'i', 'g', 'f', 'e', 'a', ' ', ' ']

### Type "String":
Strings are ordered sequences of the same type (characters).  
Strings are created with single quotes, double quotes and even "triple quotes".  
Strings are used everywhere in information processing, and are considered to be a immutable type, i.e. you cannot change their elements after the creation.

In [54]:
s1 = 'a string'
s2 = "another string"

In [55]:
print(s1)

a string

In [56]:
dir(s1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [57]:
print(s1 == "a string")

True

In [58]:
print(s2)

another string

In [59]:
s3 = "let's go to the classroom"  #when to use quotes in a smart way
s3

"let's go to the classroom"

In [60]:
s4 = "But what if I have simple quotes (') e and double quotes(\")"
print(s4)

But what if I have simple quotes (') e and double quotes(")

In [61]:
s5 = 'let\'s stress'
print(s5)

let's stress

#### Concatenating strings

In [62]:
s3 = s1 + ', ' + s2  #operator polimorphism
print(s3)

a string, another string

In [63]:
print('The book' + ' ' + 'is on' + ' ' + 'the table')

The book is on the table

#### Multiline strings

In [64]:
s6 = 'RIO - Brasília fechou 2015 com uma inflação de 11,95%, segundo o Índice de Preços \
ao Consumidor Semanal (IPC-S), medido pela Fundação Getulio Vargas (FGV). Entre as sete \
capitais pesquisadas pela FGV, a capital federal foi a que teve a maior alta de preços. \
Em 2014, Brasília havia registrado uma taxa de inflação de 6,74%.'

In [65]:
print(s6)

RIO - Brasília fechou 2015 com uma inflação de 11,95%, segundo o Índice de Preços ao Consumidor Semanal (IPC-S), medido pela Fundação Getulio Vargas (FGV). Entre as sete capitais pesquisadas pela FGV, a capital federal foi a que teve a maior alta de preços. Em 2014, Brasília havia registrado uma taxa de inflação de 6,74%.

In [66]:
s6

'RIO - Brasília fechou 2015 com uma inflação de 11,95%, segundo o Índice de Preços ao Consumidor Semanal (IPC-S), medido pela Fundação Getulio Vargas (FGV). Entre as sete capitais pesquisadas pela FGV, a capital federal foi a que teve a maior alta de preços. Em 2014, Brasília havia registrado uma taxa de inflação de 6,74%.'

In [67]:
s7 = '''
\tRIO - Brasília fechou 2015 com uma inflação de 11,95%, 
segundo o Índice de Preços ao Consumidor Semanal (IPC-S), 
medido pela Fundação Getulio Vargas (FGV). 
Entre as sete capitais pesquisadas pela FGV, a capital federal foi 
a que teve a maior alta de preços. Em 2014, Brasília havia registrado 
uma taxa de inflação de 6,74%.
'''

In [68]:
s7

'\n\tRIO - Brasília fechou 2015 com uma inflação de 11,95%, \nsegundo o Índice de Preços ao Consumidor Semanal (IPC-S), \nmedido pela Fundação Getulio Vargas (FGV). \nEntre as sete capitais pesquisadas pela FGV, a capital federal foi \na que teve a maior alta de preços. Em 2014, Brasília havia registrado \numa taxa de inflação de 6,74%.\n'

In [69]:
print(s7)

	RIO - Brasília fechou 2015 com uma inflação de 11,95%,
segundo o Índice de Preços ao Consumidor Semanal (IPC-S),
medido pela Fundação Getulio Vargas (FGV).
Entre as sete capitais pesquisadas pela FGV, a capital federal foi
a que teve a maior alta de preços. Em 2014, Brasília havia registrado
uma taxa de inflação de 6,74%.

In [70]:
s8 = 'one line \nanother line'
print(s8)

one line
another line

#### How many times an element appear?

In [71]:
s7.count('a')

35

#### Modifying strings (hint: we have to recreate them)

In [72]:
s4 = s4.replace('a','@')

In [73]:
print(s4)

But wh@t if I h@ve simple quotes (') e @nd double quotes(")

#### finding substrings

In [74]:
print(s4.find('simple'))

19

In [75]:
print(s4.find('complex'))

-1

#### Accessing elements and slicing

In [76]:
s8 = "A brand new string to play"
s8[6]

'd'

In [77]:
s8[12:]

'string to play'

In [78]:
s8[s8.find('string'):s8.find('string')+len('string')]

'string'

#### A little more elegant...

In [79]:
begin = s8.find('string')
end = s8.find('play')+len('play')
s8[begin:end]

'string to play'

In [80]:
c = str(12)
d = '12'
c + d

'1212'

In [81]:
c.isdigit()

True

In [82]:
ord(' ')

32

### Type Boolean (True, False):  

A boolean is used to create logic statements, or appear as a response to logical tests  
It can be either True or False  
True and False are some of the [Python constants _bultin_](https://docs.python.org/3/library/constants.html)

In [180]:
'RENATO'.isupper()

True

In [181]:
b1 = True

In [182]:
b2 = False

In [183]:
b1 == b2

False

In [185]:
print(not "something")
print(not [0,2,3])

False
False

In [186]:
print(not "")
print(not [])

True
True

In [187]:
2 == 5

False

In [188]:
type(2 == 7)

bool

In [189]:
4 != 5

True

#### Binary operations

In [91]:
bin(0b111 & 0b101)

'0b101'

In [92]:
if (9 > 10) and (2 == (1 + 1)) and (7 <= 8):
    print('Correto')
if x == 4095:
    print('Legal')
else:
    print('chato')
print('novo bloco')

chato
novo bloco

### Tipe Sets :
Sets are sets of unique itens (no repetition).

In [93]:
c1 = {1,2,3,3,3,3,3,4}

In [94]:
c1

{1, 2, 3, 4}

In [95]:
c2 = set([1,2,3,4,1,2])

In [96]:
c2

{1, 2, 3, 4}

In [97]:
lista3 = [1,2,3,'string']

In [98]:
conjunto = set(lista3)

In [99]:
conjunto

{1, 2, 3, 'string'}

In [100]:
conjunto2 = conjunto.union([9,8,7])

In [101]:
conjunto2

{1, 2, 3, 7, 8, 9, 'string'}

In [102]:
conjunto.intersection(conjunto2)

{1, 2, 3, 'string'}

In [103]:
lista3 = list(conjunto)

In [104]:
conjunto4 = set('uma string legal')

In [105]:
conjunto4

{' ', 'a', 'e', 'g', 'i', 'l', 'm', 'n', 'r', 's', 't', 'u'}

In [106]:
print(len('uma string legal'))
print(len(set('uma string legal')))

16
12

In [107]:
texto = '''
Nosso pai era homem cumpridor, ordeiro, positivo; e sido assim desde mocinho e menino, pelo que testemunharam as diversas sensatas pessoas, quando indaguei a informação. 
Do que eu mesmo me alembro, ele não figurava mais estúrdio nem mais triste do que os outros, conhecidos nossos. Só quieto. Nossa mãe era quem regia, e que ralhava no diário 
com a gente — minha irmã, meu irmão e eu. Mas se deu que, certo dia, nosso pai mandou fazer para si uma canoa. 
'''

In [108]:
texto

'\nNosso pai era homem cumpridor, ordeiro, positivo; e sido assim desde mocinho e menino, pelo que testemunharam as diversas sensatas pessoas, quando indaguei a informação. \nDo que eu mesmo me alembro, ele não figurava mais estúrdio nem mais triste do que os outros, conhecidos nossos. Só quieto. Nossa mãe era quem regia, e que ralhava no diário \ncom a gente — minha irmã, meu irmão e eu. Mas se deu que, certo dia, nosso pai mandou fazer para si uma canoa. \n'

In [109]:
#texto = texto.replace('a','&&&&a')

In [110]:
lista_palavras = texto.split()
lista_palavras

['Nosso',
 'pai',
 'era',
 'homem',
 'cumpridor,',
 'ordeiro,',
 'positivo;',
 'e',
 'sido',
 'assim',
 'desde',
 'mocinho',
 'e',
 'menino,',
 'pelo',
 'que',
 'testemunharam',
 'as',
 'diversas',
 'sensatas',
 'pessoas,',
 'quando',
 'indaguei',
 'a',
 'informação.',
 'Do',
 'que',
 'eu',
 'mesmo',
 'me',
 'alembro,',
 'ele',
 'não',
 'figurava',
 'mais',
 'estúrdio',
 'nem',
 'mais',
 'triste',
 'do',
 'que',
 'os',
 'outros,',
 'conhecidos',
 'nossos.',
 'Só',
 'quieto.',
 'Nossa',
 'mãe',
 'era',
 'quem',
 'regia,',
 'e',
 'que',
 'ralhava',
 'no',
 'diário',
 'com',
 'a',
 'gente',
 '—',
 'minha',
 'irmã,',
 'meu',
 'irmão',
 'e',
 'eu.',
 'Mas',
 'se',
 'deu',
 'que,',
 'certo',
 'dia,',
 'nosso',
 'pai',
 'mandou',
 'fazer',
 'para',
 'si',
 'uma',
 'canoa.']

In [111]:
palavras_unicas = set(lista_palavras)

In [112]:
print(len(lista_palavras))
print(len(palavras_unicas))

81
71

In [113]:
' @ '.join(lista_palavras)

'Nosso @ pai @ era @ homem @ cumpridor, @ ordeiro, @ positivo; @ e @ sido @ assim @ desde @ mocinho @ e @ menino, @ pelo @ que @ testemunharam @ as @ diversas @ sensatas @ pessoas, @ quando @ indaguei @ a @ informação. @ Do @ que @ eu @ mesmo @ me @ alembro, @ ele @ não @ figurava @ mais @ estúrdio @ nem @ mais @ triste @ do @ que @ os @ outros, @ conhecidos @ nossos. @ Só @ quieto. @ Nossa @ mãe @ era @ quem @ regia, @ e @ que @ ralhava @ no @ diário @ com @ a @ gente @ — @ minha @ irmã, @ meu @ irmão @ e @ eu. @ Mas @ se @ deu @ que, @ certo @ dia, @ nosso @ pai @ mandou @ fazer @ para @ si @ uma @ canoa.'

In [114]:
import string

In [115]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [116]:
for punct in ['.','?','!']:
    texto = texto.replace(punct, '*****')
texto

'\nNosso pai era homem cumpridor, ordeiro, positivo; e sido assim desde mocinho e menino, pelo que testemunharam as diversas sensatas pessoas, quando indaguei a informação***** \nDo que eu mesmo me alembro, ele não figurava mais estúrdio nem mais triste do que os outros, conhecidos nossos***** Só quieto***** Nossa mãe era quem regia, e que ralhava no diário \ncom a gente — minha irmã, meu irmão e eu***** Mas se deu que, certo dia, nosso pai mandou fazer para si uma canoa***** \n'

In [117]:
texto.split('*****')

['\nNosso pai era homem cumpridor, ordeiro, positivo; e sido assim desde mocinho e menino, pelo que testemunharam as diversas sensatas pessoas, quando indaguei a informação',
 ' \nDo que eu mesmo me alembro, ele não figurava mais estúrdio nem mais triste do que os outros, conhecidos nossos',
 ' Só quieto',
 ' Nossa mãe era quem regia, e que ralhava no diário \ncom a gente — minha irmã, meu irmão e eu',
 ' Mas se deu que, certo dia, nosso pai mandou fazer para si uma canoa',
 ' \n']

In [118]:
string5 = 'uma string'
string5 += ' outro texto'

In [119]:
string5

'uma string outro texto'

### Tipo Dicionário:
Dicionários são sequências não ordenadas de itens na forma de pares key:values que se encontram dentro de chaves e separados por vírgula. Como value podemos usar objetos de qualquer tipo, já como key só podemos usar objetos de tipos imutáveis (strings, números ou tuplas).

In [120]:
dic = {'chave1':[1,2,3],'chave2':2,'outra chave':4,45:26, 'outro':23}
dic

{'chave1': [1, 2, 3], 'chave2': 2, 'outra chave': 4, 45: 26, 'outro': 23}

In [121]:
dic.update({2:3})

In [122]:
dic

{'chave1': [1, 2, 3], 'chave2': 2, 'outra chave': 4, 45: 26, 'outro': 23, 2: 3}

In [123]:
ficha = {'Peso':73, 'Altura':183, 'Idade':44, 'Nome':'Renato'}

In [124]:
ficha

{'Peso': 73, 'Altura': 183, 'Idade': 44, 'Nome': 'Renato'}

In [125]:
ficha['Idade']

44

Exercício:  
Criar uma estrutura de dados para representar as notas de 3 avaliações (A1, A2 e AS) em três 
disciplinas (Matemática, História e Geografia)

In [126]:
boletim = {'Matemática':{'A1':9.0, 'A2':8.0,'AS':4.0},
           'História':{'A1':9.0, 'A2':8.0,'AS':4.0},
           'Geografia':{'A1':9.0, 'A2':8.0,'AS':4.0}}
boletim

{'Matemática': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'História': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'Geografia': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}}

In [127]:
boletim['Matemática']['A2']

8.0

In [128]:
boletim.items()

dict_items([('Matemática', {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}), ('História', {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}), ('Geografia', {'A1': 9.0, 'A2': 8.0, 'AS': 4.0})])

In [129]:
'A2' in boletim['Matemática']

True

In [130]:
boletim['Matemática'].values()

dict_values([9.0, 8.0, 4.0])

In [131]:
boletim['Matemática']['AS'] = 10
boletim

{'Matemática': {'A1': 9.0, 'A2': 8.0, 'AS': 10},
 'História': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'Geografia': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}}

In [132]:
newdic = {}

In [133]:
newdic

{}

In [134]:
newdic['elemento1'] = 23

In [135]:
newdic

{'elemento1': 23}

In [136]:
newdic.update({'um':2})

In [137]:
newdic

{'elemento1': 23, 'um': 2}

In [138]:
newdic['um'] = 1

In [139]:
newdic

{'elemento1': 23, 'um': 1}

In [140]:
d2 = {}
d1 = {1:d2}
d2 = {2:d1}

In [141]:
d1

{1: {}}

In [142]:
d2

{2: {1: {}}}

In [143]:
d2[2][1] = 'outra coisa'

In [144]:
d1[2] = 'outro elemento'

In [145]:
d2

{2: {1: 'outra coisa', 2: 'outro elemento'}}

In [146]:
print(boletim['Geografia'])
print(sorted(boletim['Geografia']))
print(sorted(boletim['Geografia'].items()))
print(sorted(boletim['Geografia'].items(), key = lambda x:x[1]))

{'A1': 9.0, 'A2': 8.0, 'AS': 4.0}
['A1', 'A2', 'AS']
[('A1', 9.0), ('A2', 8.0), ('AS', 4.0)]
[('AS', 4.0), ('A2', 8.0), ('A1', 9.0)]

### Tipo Tupla:
Tuplas, assim como listas, são sequências ordenadas de itens. As diferenças entre elas são: os elementos estão entre parênteses e as tuplas são imutáveis, seus elementos não podem ser modificados.

In [147]:
t = (1,2,3,4,7,4,3,1,'string',{1,2}, [1,2])

In [148]:
type(t)

tuple

In [149]:
t[0]

1

In [150]:
t[5]

4

In [151]:
t[3:6]

(4, 7, 4)

In [152]:
lista = [1,2,3]

In [153]:
tupla = tuple(lista)

In [154]:
tupla

(1, 2, 3)

In [155]:
lista2 = list(tupla)

In [156]:
lista2

[1, 2, 3]

In [157]:
d5 = {(1,2):'tupla'}
d5

{(1, 2): 'tupla'}

In [158]:
t2 = (2,4,7,2,2,2,2)

In [159]:
t2.count(2)

5

In [160]:
a = [1,2]

In [161]:
t = (a,a,a,a,a)
l = [a,a,a,a,a]

In [162]:
tupla_falsa = (1)
tupla_verdadeira = (1,)
print(type(tupla_falsa))
print(type(tupla_verdadeira))

<class 'int'>
<class 'tuple'>

Acessando cada elemento da tupla

In [163]:
x, y = 10, 19 #Relembrando como declarar as variáveis em uma linha
print(y)
print(x)

19
10

Empacotamento e desempacotamento de tuplas

In [164]:
x, y = 10, 19 #Relembrando como declarar as variáveis em uma linha
print(y)
print(x)

19
10

In [165]:
t = (2,3,4)
x,y,z = t
print(t)
print(x)
print(y)
print(z)

(2, 3, 4)
2
3
4

In [166]:
x, *y, z = (1,2,3,4)
print(x)
print(y)
print(z)

1
[2, 3]
4

In [167]:
# Troca de valores
print(x)
print(y)
x,y = y,x
print(x)
print(y)

1
[2, 3]
[2, 3]
1

In [168]:
l = [1,2,3]
[i**2 for i in l]

[1, 4, 9]

In [169]:
cubos = {i:i**3 for i in l}
cubos

{1: 1, 2: 8, 3: 27}

In [170]:
l2 = list('minha casa')
''.join([c.upper() if c in ['m','c'] else c for c in l2 ])

'Minha Casa'

In [171]:
t = 1,2,3
type(t)

tuple