### Numpy

In [ ]:
import numpy as np

1) Create a function that receives an integer N as argument and returns a matrix NxN with 1 on the border and 0 inside.

Hint: Indexação

Monitoria: Revisar indexação numpy

In [ ]:
def array_0_1(n):
  c = np.ones((n,n))
  c[1:-1, 1:-1] = 0
  return c

In [ ]:
array_0_1(10)

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

2) Create a function that transpose a matrix without using the method np.transpose or np.array.T.

Hint: Criar um vetor de ones e prestar atenção no shape desse vetor

Monitoria: np.ones, np.zeros - definindo o shape

In [ ]:
def transposing(array):
  array_t = np.zeros(tuple(reversed(array.shape)))  
  for i in range(array.shape[1]):
    for j in range(array.shape[0]):
      array_t[i][j] = array[j][i]
  return array_t

In [ ]:
a = np.array([[2,3],[26,8],[1,1]])

In [ ]:
a.T

array([[ 2, 26,  1],
       [ 3,  8,  1]])

In [ ]:
a

array([[ 2,  3],
       [26,  8],
       [ 1,  1]])

3) Create two 1d arrays with length 10 that contains random integers from 0 to 1000. How many iterations does it take until the sum of their values are the same?

Hint: np.random.randint

Monitoria: np.random.randint

In [ ]:
count = 0
while True:
  count +=1
  a1 = np.random.randint(1000, size = 10)
  a2 = np.random.randint(1000, size = 10)
  if a1.sum() == a2.sum():
    break

Obviamente, sendo aleatório, cada um terá uma resposta diferente

In [ ]:
count

787

### Classes

Create a class "Country" that contains the following methods:

- compare_gdp_per_capita
- compare_population_density
- development_status 

Additional information:

- To classify the development status (high-income, upper middle income, lower middle income and low-income) use the following methodology: https://www.un.org/en/development/desa/policy/wesp/wesp_current/2014wesp_country_classification.pdf

- Consider GNI as GDP

- The input will be in the format (name_of_country, population, area_in_km2, gdp), where name_of_country is a string and the other three inputs are integers.


**Example**

brazil = Country("Brazil", 209500000, 8516000, 1847000000)

mexico = Country("Mexico", 126200000, 1973000, 1221000000)

brazil.development_status ➞ 'upper middle income'

mexico.compare_population_density(brazil) ➞ "Mexico has a larger population density than Brazil"

brazil.compare_gdp_per_capita(mexico) ➞ "Brazil is poorer than Mexico"

In [ ]:
class Country ():
  def __init__(self,name_of_country, population, area, gdp):
    self.name_of_country = name_of_country
    self.population = population
    self.area = area
    self.gdp = gdp
    self.gdp_per_capita = gdp/population

  def compare_gdp_per_capita(self,country):
    if self.gdp_per_capita > country.gdp_per_capita:
      return f'{self.name_of_country} is richer than {country.name_of_country}'
    elif self.gdp_per_capita < country.gdp_per_capita:
      return f'{self.name_of_country} is poorer than {country.name_of_country}'
    else:
      return f'{self.name_of_country} as rich as {country.name_of_country}'

  def compare_population_density(self,country):
    if self.population/self.area > country.population/country.area:
      return f'{self.name_of_country} has a larger population density than {country.name_of_country}'
    elif self.population/self.area < country.population/country.area:
      return f'{self.name_of_country} has a smaller population density than {country.name_of_country}'
    else:
      return f'{self.name_of_country} has the same population density of {country.name_of_country}'


# Poderia ter feito assim ou como atributo
  def development_status(self):
    if self.gdp_per_capita < 1035:
      return "low-income"
    elif self.gdp_per_capita >= 1035 and self.gdp_per_capita < 4085:
      return "lower middle income "
    elif self.gdp_per_capita >= 4085 and self.gdp_per_capita < 12615:
      return "upper middle income"
    else:
      return "high-income"

No exemplo eu coloquei 3 zeros a menos em PIB. Logo a avaliação  do método "development status" foi anulada

In [ ]:
brazil = Country("Brazil", 209500000, 8516000, 1847000000000)

mexico = Country("Mexico", 126200000, 1973000, 1221000000000)

print(brazil.development_status())

print(mexico.compare_population_density(brazil))

print(brazil.compare_gdp_per_capita(mexico))

upper middle income
Mexico has a larger population density than Brazil
Brazil is poorer than Mexico

### General Exercises

1) **Counting Sundays** (Project Euler 19)

- 1 Jan 1900 was a Monday. 
- Thirty days has September,
April, June and November.
- All the rest have thirty-one,
- Saving February alone, which has twenty-eight, rain or shine.
- And on leap years, twenty-nine.
- A leap year occurs on any year evenly divisible by 4, but not on a century unless it is divisible by 400.


How many Sundays fell on the first of the month during the twentieth century (1 Jan 1901 to 31 Dec 2000)?

Hint: Usar o OrderedDict

Monitoria: Ordered Dict

In [ ]:
from collections import OrderedDict

In [ ]:
dict_days = OrderedDict({ "January": 31, "February" : 28, "March" : 31, "April" : 30, "May" : 31, "June" : 30, "July" : 31, "August" : 31, "September" : 30, "October" : 31, "November" : 30, "December" : 31})

In [ ]:
day = 1
sundays = 0
for i in range(1900,2001):
  for j in dict_days.keys():
    if int(str(i)[2:]) % 4 == 0 and j == 'February':
      day += 29
      if i > 1900 and day % 7 == 0:
        sundays += 1
    else:
      day += dict_days[j]
      if i > 1900 and day % 7 == 0:
        sundays += 1

In [ ]:
sundays

171

2) Create a function that receives a 'CPF' and checks whether it is a valid CPF. The conditions that makes a CPF valid can easily be found on internet.

Hint: Colocar todas as negativas em if e elif e deixar o else fora

In [ ]:
def valid_cpf(cpf):


  digits_list = list(map(lambda x:int(x),list(str(cpf))))
  rule_digit_1 = sum([(10-i)*digits_list[i] for i in range(9)])%11
  rule_digit_2 = sum([(11-i)*digits_list[i] for i in range(10)])%11

  if len(str(cpf)) != 11 or not str(cpf).isnumeric:
    return False
  elif set(digits_list) == 1:
    return False
  elif rule_digit_1 in [0,1] and digits_list[-2] != 0:
    return False
  elif rule_digit_1 not in [0,1] and digits_list[-2] != 11-rule_digit_1:
    return False
  elif rule_digit_2 in [0,1] and digits_list[-1] != 0:
    return False
  elif rule_digit_2 not in [0,1] and digits_list[-1] != 11-rule_digit_2:
    return False
  else:
    return True