## Exercises

You should use everything that you've learned: Data structures, conditional, loops and functions

### Exercise 1  <font color='green'>(EASY)</font>

a) Create a function that checks if the number is even or odd

In [ ]:
def even_odd(num):
    if num %2==0:
        return 'is_even'
    else:
        return 'is_odd'

b) Create a function that receives a list, an element, a position and add the element in the given position in the list. This list is going to be the output of the function.

In [ ]:
def add_element_list(a_list, element, position):
    a_list.insert(position,element)
    return a_list

c) Create a function that receives multiple parameters and returns a list with all the parameters

In [ ]:
def multiple_parameters(*args):
    return list(args)

### Exercise 2 <font color='blue'>(MEDIUM)</font>

a) Create a function (or a set of functions) that receives an integer and returns it in "written_form".

Example:  

    print(written_number(234))  
    > 'two hundred and thirty-four'

In [57]:
def written_number(n):
    digits_written_nums =  {0: '',1: 'one',2: 'two',3: 'three', 4: 'four', 5: 'five', 6: 'six',7: 'seven',8: 'eight',9: 'nine',
                        10: 'ten', 11: 'eleven', 12: 'twelve', 13: 'thirteen', 14: 'fourteen', 15: 'fifteen', 16: 'sixteen', 17: 'seventeen',18: 'eighteen', 19: 'nineteen',
                        20: 'twenty', 30: 'thirty', 40: 'forty', 50: 'fifty', 60: 'sixty', 70: 'seventy', 80: 'eighty', 90: 'ninety'}
    
    # empty string
    written_num =  ''

    # decomposing the number!

    # hundred
    if n >= 100:
        written_num  =  written_num + digits_written_nums[n//100]
        written_num  = written_num +  " hundred "
        # here n is replaced to rest of n/100
        n = n%100
        if n is not 0:
            written_num  =  written_num + 'and '

    # hundred + >20
    if n > 20:
        written_num  = written_num + digits_written_nums[n-n%10]
        written_num  = written_num + ' '
        written_num  = written_num +  digits_written_nums[n%10]

    # hundred + <20
    # elif is required because if n>20, this block is not necessa
    elif n <= 20:
        written_num  +=  digits_written_nums[n]

    # Return the number as string
    return written_num

b) Given a string, create a function that finds every word that contains a letter given as a parameter

In [3]:
import string

string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [17]:
def find_letter(text,letter):
    
    # storing every word in a list of strings
    
    words = []
    for w in text.split():
        words.append(w.lower().strip(string.punctuation))
    
    # storing only the words that contains the letter

    chosen_words = []
    for w in words:
        if letter in w:
            chosen_words.append(w)

    return chosen_words

In [15]:
a = 'Texto que tem alguns elementos a b c d e'
b = 'e'

In [16]:
find_letter(a,b)

['texto', 'que', 'tem', 'elementos', 'e']

### Exercise 3 <font color='red'>(HARD)</font>

If the numbers 1 to 5 are written out in words: one, two, three, four, five, then there are 3 + 3 + 5 + 4 + 4 = 19 letters used in total.

If all the numbers from 1 to 1000 (one thousand) inclusive were written out in words, how many letters would be used?


NOTE: Do not count spaces or hyphens. For example, 342 (three hundred and forty-two) contains 23 letters and 115 (one hundred and fifteen) contains 20 letters. The use of "and" when writing out numbers is in compliance with British usage.

https://projecteuler.net/index.php?section=problems&id=17

In [61]:
import random

In [65]:
def count_characters(a_string):
    a_string = a_string.replace(' ','')
    return(len(a_string))

In [66]:
total = 0
for num in range(1,1000):
    total += count_characters(written_number(num))
print(total)

21113