## First list of exercises

#### Ordered from the easiest to the "hardest"

1) Write a function that takes an integer minutes and converts it to seconds. <font color='green'>(EASY)</font>

In [2]:
def minutes_to_seconds(minutes):
  secs = minutes*60
  return secs

In [3]:
minutes_to_seconds(15)

900

2) Create a function that converts a date formatted as MM/DD/YYYY to YYYYDDMM. The input is a string!

<font color='red'>Quem usou datetime aqui teve ponto descontado. Era uma questão de manipulação de strings.</font>

In [4]:
def date_formatting(string_date):
  date_list = string_date.split('/')
  date_list.reverse()
  output = ''.join(date_list)
  return output

In [5]:
date_formatting('09/22/2020')

'20202209'

3) A typical car can hold four passengers and one driver, allowing five people to travel around. Given n number of people, `return` how many cars are needed to seat everyone comfortably.

In [6]:
def car(numeric):
  if numeric % 5 == 0:
    return numeric/5
  else:
    return numeric//5 + 1
    #return int(numeric/5) + 1

In [7]:
print(car(19))
print(car(21))

4
5

4) Create a function that replaces all the vowels in a string with the character '#'.

In [8]:
def hashtag_vowels(a_string):
  vowels = 'aieou' + 'aieou'.upper()
  for i in vowels:
    a_string = a_string.replace(i,'#')
  return a_string

In [12]:
# não considera acentos.

hashtag_vowels('Paralelepipedo')

'P#r#l#l#p#p#d#'

<font color='green'>Nâo era necessário excluir acentos, de qualquer forma coloquei uma solução que o faz.</font>

In [ ]:
#!pip install unidecode

import unidecode

'Area'

In [ ]:
def hashtag_vowels_with_accent(a_string):
  vowels = 'aieou' + 'aieou'.upper()
  for i in vowels:
    a_string = unidecode.unidecode(a_string).replace(i,'#')
  return a_string

In [ ]:
hashtag_vowels_with_accent('Paralelepípedo')

'P#r#l#l#p#p#d#'

5) Write a function that inverts the keys and values of a dictionary.

In [13]:
def invert_keys_values(dictionary):
  dictionary2 = dict()
  for i,j in dictionary.items():
    dictionary2[j] = i 
  return dictionary2

In [14]:
invert_keys_values({'a':1,'b':2})

{1: 'a', 2: 'b'}

6) Create a function that takes a list of strings and return a list, sorted from shortest to longest.

In [15]:
# Versão 1

def len_string(list_string):
    dict_strings = dict()
    a_list = []

    # creating a dictionary with the word:len(word)
    for i in list_string:
      dict_strings[i] = len(i)
    
    # sorting it
    for j in sorted(dict_strings.items(), key = lambda x:x[1]):
      a_list.append(j[0])

    return a_list

In [16]:
len_string(['1','999999999','666666','333'])

['1', '333', '666666', '999999999']

In [18]:
# Versão 2

def len_string2(list_string):
  list_string.sort(key=lambda x:len(x))
  return list_string

In [19]:
len_string2(['1','999999999','666666','333'])

['1', '333', '666666', '999999999']

7) Create a function that returns True if the first list is a subset of the second. Return False otherwise.

<font color='red'>ANULADA - enunciado ambíguo e eu não explicitei que não era para usar set (minha ideia inicial) - todas as soluções ganharam o ponto, exceto que nem tentou. </font>

In [ ]:
def subset_list(first_list,second_list):
  a = []
  second_list_copy = second_list.copy()
  for i in first_list:
    if i in second_list:
      a.append(i)
      try:
        second_list_copy.remove(i)
      except:
        return False  
  print(a)    
  if a == first_list:
    return True
  else:
    return False

In [ ]:
subset_list([1,2,3], [1,2,3,4,5,6])

[1, 2, 3]

True

8) Create a function that takes an integer and returns the factorial of that integer. That is, the integer multiplied by all positive lower integers.

In [20]:
def fatorial(integer):
  a = 1
  for i in range(1,integer+1):
    a *= i #a = a*1
  return a

In [21]:
fatorial(0)

1

In [22]:
fatorial(5)

120

9) Create a function that takes a number as an argument and returns how many times it is multiple of 3.

In [23]:
def multiple_3(integer):
  count_times = 0
  while integer % 3 == 0:
    integer /= 3 
    count_times += 1
  return count_times

In [24]:
multiple_3(3*3*3*3*4)

4

10) Create a function that sorts a list and removes all duplicate items from it. (Don't use 'set')

In [25]:
def sort_and_remove_duplicate(a_list):
  new_list = []
  for i in a_list:
    if str(i) not in new_list:
      new_list.append(str(i))
  new_list.sort()
  return new_list

In [26]:
sort_and_remove_duplicate([9]*3+[6]*2+[1,2,3]*3)

['1', '2', '3', '6', '9']

In [27]:
sort_and_remove_duplicate(['a']*10+['b']*4+['c']*3)

['a', 'b', 'c']