## Second list of exercises

1) Use list comprehension to create a list that:

- a) Given a list of strings, contains the length of them.

- b) Contains all the cubes of the multiples of 17 in a range from 1 to 1000.

- c) Contains all the numbers from 1 to 100 that starts with 4 or 5 and are even numbers.

- d) Contains all the numbers from 1 to 1000 that have the digit 3 in them.

- e) Given a list of strings, transform to upper if the first letter is a vowel and invert the string otherwise.

       For example, ['apple', 'orange', 'watermelon'] -> ['APPLE','ORANGE', 'nolemretaw']

In [ ]:
# a)

list_strings = ['Ricardo','Fernanda','Pedro','Renato', 'Amanda']
print([len(i) for i in list_strings])

# b)

print([i**3 for i in range(1,1001) if i % 17 == 0])

# c)

print([i for i in range(1,101) if str(i)[0] in ['4','5'] and  i % 2 == 0])

# d) 

print([i for i in range(1,1001) if '3' in str(i)])

# e) 

print([i.upper() if i[0] in 'aeiou'+'aeiou'.upper() else i[-1::-1] for i in list_strings])

[7, 8, 5, 6, 6]
[4913, 39304, 132651, 314432, 614125, 1061208, 1685159, 2515456, 3581577, 4913000, 6539203, 8489664, 10793861, 13481272, 16581375, 20123648, 24137569, 28652616, 33698267, 39304000, 45499293, 52313624, 59776471, 67917312, 76765625, 86350888, 96702579, 107850176, 119823157, 132651000, 146363183, 160989184, 176558481, 193100552, 210644875, 229220928, 248858189, 269586136, 291434247, 314432000, 338608873, 363994344, 390617891, 418508992, 447697125, 478211768, 510082399, 543338496, 578009537, 614125000, 651714363, 690807104, 731432701, 773620632, 817400375, 862801408, 909853209, 958585256]
[4, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58]
[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93]
['odraciR', 'adnanreF', 'ordeP', 'otaneR', 'AMANDA']

2) Write function that takes a list with two numbers in it and determines if the sum of the digits of the two numbers are equal to each other.

In [ ]:
sum(map(lambda x:int(x), ['1','2']))

3

In [ ]:
def sum_list_digits(lista):
  soma1 = sum(map(lambda x:int(x),str(lista[0])))
  soma2 = sum(map(lambda x:int(x),str(lista[1])))
  # Não é preciso essa parte
  if len(lista) != 2:
    return 'Tamanho da lista não é 2'
  elif soma1 == soma2:
    return True
  else:
    return False

In [ ]:
sum_list_digits([352,532])

True

3) Among all the numbers that are made from the product of two 3-digit numbers:

- a) How many are odd numbers?

- b) How many starts with the digit-8 and ends with digit-9

- c) How many are palindromes?

In [ ]:
# Conjunto de produtos

product_list = set()
for i in range(100,1000):
  for j in range(100,1000):
    product_list.add(i*j)

# a)

print('Resposta 3a',len([i for i in list(product_list) if i % 2 != 0]))

# b)

print('Resposta 3b', len([i for i in list(product_list) if str(i)[0] == '8' and str(i)[-1] == '9']))

# c) 

print('Resposta 3c', len([i for i in list(product_list) if str(i) == str(i)[-1::-1]]))

Resposta 3a 81888
Resposta 3b 652
Resposta 3c 655

4) Use functional programming to:

- a) Filter the indexes with positive changes in the dictionary 'stock_indexes'.

In [ ]:
stock_indexes = {'FTSE 100':-0.3, 'DAX': -1.65, 'Dow Jones': -1.1, 'Ibovespa':0.2, 'S&P':0.65}

In [ ]:
dict(filter(lambda x:x[1]>0, stock_indexes.items()))

{'Ibovespa': 0.2, 'S&P': 0.65}

- b) Apply a function that generates a list with the types of each element of the list 'elements'

In [ ]:
elements = [1,'economics', 9.8, 2 + 3j, ['a','b','c'], stock_indexes]

In [ ]:
list(map(lambda x:type(x), elements))

[int, str, float, complex, list, dict]

- c) Transform a list of lists in a flat list
    
       For example, [[1,2,4],[10,12,14],[1,2]] -> [1,2,4,10,12,14,1,2]

In [ ]:
from functools import reduce

In [ ]:
list_of_lists = [[1,2,4],[10,12,14],[1,2]]

In [ ]:
list(reduce(lambda x,y:x+y,list_of_lists))

[1, 2, 4, 10, 12, 14, 1, 2]